.area-show-container {
  background-color: rgba(220, 227, 247, 0.6);
  margin: 32px;
  padding: 16px;
  border-radius: 14px;
  border-style: solid;
  border-color: rgb(200,200,200);
  border-width: 2px;
}

.area-show-container a {
  text-decoration: none;
}

.area-show-container ul {
  // padding: 16px;
  // margin: 0px;
}

.area-show-container p {
  font-weight: bolder;
}

.area-show-container h2 {
  font-weight: bolder;
  background-color: #A62639;
  padding: 8px 24px;
  color: white;
  border-radius: 14px;
  text-shadow: 2px 2px 4px #000000;
}

.area-menu-container {
  background-color: rgba(220, 227, 247, 0.6);
  margin: 0px auto;
  padding: 16px;
  border-radius: 14px;
  border-style: solid;
  border-color: rgb(200,200,200);
  border-width: 2px;
}

.area-school-info h4 {
  font-weight: bolder;
  background-color: #A62639;
  padding: 8px 16px;
  color: white;
  border-radius: 14px;
  text-align: center;
  margin-top: 8px;
}

.school-infos p {
  text-align: center;
  font-size: 16px;
}

.school-infos h3 {
  text-align: center;
  font-weight: bolder;
}

.school-infos  {
  text-align: center;
}

.area-show-crime {
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-around;
  font-size: 20px;
}

.area-show-crime p {
  font-size: 16px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(200,200,200);
  text-align: center;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: rgba(120,120,120,0.6);
  border-radius: 14px;
}

.price-chart {
  margin: 0 auto;
}

.area-back {
  //background-color: rgba(255,255,255,0.5);
  background-color: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: rgb(200,200,200);
  border-width: 2px;
}

.fa-bars:before {
  color: white;
  font-size: 24px;
}

.fa-bars:after {
  color: white;
  font-size: 24px;
}

.jump-menu {
  right: auto;
  left: 0px;
}

.jump-menu a:hover {
 color: black;
}
.area-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A62639;
    border-radius: 14px;
    opacity: 0.8;
}

.area-title h2 {
  margin-bottom: 0px;
}

.area-title-nav {
  margin-left: 20px;
}
