.area-show-container {
  background-color: white;
  margin: 32px;
  padding: 16px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(200,200,200);
  border-width: 2px;
}

.area-show-crime {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
