body {
  background: #DCE3F7;
}

.banner {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 10px;
}

.intro > h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.intro > p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.banner {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.quick_search {
  text-align: center;
}

.form-group {
  border-bottom: 2px solid #787c86;
  color: #787c86;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

.form-control{
text-align: center;
border: none;

}

.cards_header{
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
   background: white;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
}

.card > img {
  width: 370px;
  height: 250px;
}

ul {
  list-style-type: none;
}

.list_item{
  margin: 20px;
}

.carousel-item > img {
  width: 370px;
  height: 250px;
}
