body {
  // background: #DCE3F7;
background-image: url("brick.jpg");
}

.banner {
  background: transparent;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 14px;
}

.banner > h1 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner > p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card > p {
  margin-left: 10px;
  margin-right: 10px;
}

.banner {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.radius{
  border-radius: 14px;
}

.quick_search {
  text-align: center;
  background: rgba(220, 227, 247, 0.6);
  border-radius: 14px;
}

.form-group {
  border-bottom: 2px solid black;
  color: black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

.form-control {
text-align: center;
border: none;
background-color: transparent;
}

.user_remember_me {
  border: none;
}

.form-control:hover{
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.list_item{
  margin: 20px;
}

.carousel-item > img {
  width: 370px;
  height: 250px;
  border-radius: 14px;
}

.radius-right {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.radius-left {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
