.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
  /*grid-template-columns: 65% 35%;*/
}

.img {
    position: relative;
    float: left;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;
    border-radius: 14px;
}

.house-card {
  grid-gap: 16px;
  margin: 5px auto;
  padding: 10px;
  grid-template-columns: 65% 35%;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  border-image: initial;
  transition: box-shadow 0.5s ease-in-out 0s;
  background-color: #ffffff
}

.house-card:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 5px 5px 5px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.map {
  position: absolute;
}

h7 {
  font-size: 30px;
}

h8 {
  float: center;
}

.btn-ghost {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    margin-left: 80px;
}

.btn-ghost:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 5px 5px 5px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.btn-ghost:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}


