.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
  /*grid-template-columns: 65% 35%;*/
}

.img {
    position: relative;
    float: left;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;
    border-radius: 14px;
}

.house-card {
  grid-gap: 16px;
  margin: 5px auto;
  padding: 10px;
  grid-template-columns: 65% 35%;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  border-image: initial;
  transition: box-shadow 0.5s ease-in-out 0s;
  background-color: #ffffff
}

.house-card:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 5px 5px 5px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.map {
  position: absolute;
  border-radius: 14px;
}

h7 {
  font-size: 30px;
}

h8 {
  float: center;
}

.btn-ghost {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
    margin-left: 80px;
}

.btn-ghost:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 5px 5px 5px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.btn-ghost:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

.form-button {
  display: inline-block;
  color: white;
  background-color: #A62639;
  border: 1px solid #A62639;
  padding: 8px 44px;
  border-radius: 150px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.1s ease;
  margin: 5px;
  font-size: 20px;
}

.form-button:hover {
  opacity: 1;
  color: white;
}

.form-right {
  text-align: left;
  margin-top: 120px;
}

.form-left {
  text-align: left;
  padding: 20px;
  /*margin-right: 100px;*/
  /*margin-left: 40px;*/
}

.house-form-search {
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  /*background-color: #ffffff;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: rgba(220, 227, 247, 0.6);
  background-size: cover;
  background-position: center;
}

.house-description {
  margin: 10px;
  display: grid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 14px;
  background: rgba(220, 227, 247, 0.6);
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.house-description-top {
  margin: 20px;
  display: grid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 14px;
  background: rgba(220, 227, 247, 0.6);
  background-size: cover;
  background-position: center;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  float: center;
}

.hamburger {
  vertical-align: middle;
}

.house-description-modified {
  margin: 10px;
  display: grid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 14px;
  background: rgba(220, 227, 247, 0.6);
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.house-price {
  text-align: left;
  padding-bottom: 0px;
  color: #A62639;
}

.council {
  text-align: center;
}



