<div class="container">
    <div class="row justify-content-centre">
        <div class="col-6">
          <div class="card p-0">
            <div class="card_head_chat mt-0">
             <%= image_tag ("boris_paillard.png"), class: "avatar-bordered", alt: "avatar-bordered" %>
               </p>Housing agent - Boris Paillard</p>
               <div class="icon_chat_chat">
               <i class="fas fa-phone"></i>
               <i class="fas fa-camera"></i>
                <i class="far fa-question-circle"></i>
                </div>
            </div>
            <div id="messages">
              <ul class="message-list">
              </ul>
              <div class="card_body_chat">
                <form action="#" id="comment-form" class='form-inline'>
                <div class="form-group">
                <textarea type="text" name="content" id="your-message" class="form-control" placeholder="Here is my message.."></textarea>
                </div>
              <div class="card_footer_chat"></div>
              <input type="submit" value="Send" class="button submit_commentct" id="submit_comment">
                </form>
        </div>
      </div>
    </div>

              <!-- <label for="your-name">From</label>
                <input type="text" name="content" id="your-name" class="form-control" placeholder="Bob"> -->




