<div class="footer position-relative d-flex justify-content-center pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light fixed-bottom">
  <ul class="list-style-none d-flex flex-wrap">
                <li class="mr-3 list-item">
                  <a><strong>About Us</strong></a>
                </li>
                <li class="mr-3 list-item">
                  <a><strong>Press</strong></a>
                </li>
                <li class="mr-3 list-item">
                  <a><strong>Partners</strong></a>
                </li>
                <li class="mr-3 list-item">
                  <a><strong>Contact</strong></a>
                </li>
                <li class="mr-3 list-item">
                  <a><strong>API</strong></a>
                </li>
                  <li class="footer-image mr-3 list-item">
                  <a><%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568920331/assets/logo_opp605.png") %></a>
                </li>
                <li class="mr-3 list-item">
                <a><strong>Terms</strong></a>
              </li>
              <li class="mr-3 list-item">
                <a><strong>Privacy</strong></a>
              </li>
              <li class="mr-3 list-item">
                <a><strong>Help</strong></a>
              </li>

              <li class="mr-3 list-item">
                <a><strong>Blog</strong></a>
              </li>
          </ul>
            <div class="copyright"><p>© 2019 Copyright</p></div>
        </div>


