   <div class="area-show-container">
     <div class="area-title">
       <%= render "shared/jump" %>
       <h2 id="schools">Schools</h2>
       <p></p>
     </div>

      <div class="my-3">
        <div
          class="area-back"
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
        <div class="area-school-info my-3">
          <h4><span id="marker-typed-text"></span></h4>
        </div>
      </div>
    </div>

