<h1 class="text-center">AREAS INDEX</h1>


<div class='container'>
  <div class =row>
   <% @areas.each do |area| %>
    <div class='col-xs-12 col-sm-3'>
       <div class="card-area">
           <%= image_tag "shoreditch/boxpark.jpg"%>
          <div class="card-area-footer">
            <div>
              <%= link_to area.name.upcase, area_path(area) %>
              <p></p>
              <p><%= "Local schools: #{area["schools"]["data"]["state"]["nearest"].count}" %></p>
          </div>
        </div>
    </div>
  <% end %>
