<div class="container">
  <form action="/searches" method="get">
    <div class="form-inputs h5">
      <label for="search_gross_annual">Your salary</label>
      <input type="text" placeholder="Your annual salary" id="search_gross_annual">
    </div>


    <button type="submit">Submit</button>
  </form>
  <br>
</div>



<button id="multiply">Calculate</button>
