
<div class="container-fluid house-description">
  <h1 id="title">Recommended Areas</h1><br>
  <!-- <p>waiting search page </p> -->
  <%#= 'select area', area_path%>
  <div class="card-houses-container">
    <% photos = ["houses/place1.jpeg", "houses/place2.jpg", "houses/place3.jpg"] %>
    <% @areas.each do |area| %>
        <div class="card-area card-width">
        <%= image_tag photos.pop %>
          <%= link_to area_path(area) do  %>
            <div class="card-area-footer">
              <p><%= area.name.upcase %></p>
              <br>
              <p>Average house price: £<%= number_with_delimiter(area.sold_price["data"]["average"]) %></p>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
