<h1>searches#show</h1>
<p>Find me in app/views/search/show.html.erb</p>


<div class="container">
<!-- <p>waiting search page </p> -->
<%#= 'select area', area_path%>

<% @areas.each do |area| %>
<!-- this  -->
<%= link_to 'my area', area_path(area) %>

<%= link_to area_path(area) do  %>
  <h1><%= area.name %> Price: <%= area.sold_price["data"]["average"] %></h1>
<% end %>
<% end %>

</div>
