.card-area-home {
  background: rgba(220, 227, 247, 0.6);
  margin: 32px 0px;
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
  border-style: solid;
  border-color: rgb(200,200,200);
  border-width: 2px;
}

.area-sticky {
  position: sticky;
  top: 0;
}

.card-area-home-footer {
  padding: 16px;
  margin: 0;
}


.card-area-home-footer a {
  text-decoration: none;
  margin: 0;
  padding: 8px;
}

.card-area-home p {
  margin: 0;
  padding: 8px;
}

.card-area-home h2 {
  margin: 0;
}

.card-area-home img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

