.list-item{
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-element{
  margin-left: 30px;
}

.footer {
   margin: 30px;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border-top: 1px black solid;
   padding-top: 22px;
   text-align: center;
   background: rgba(220, 227, 247, 0.3);
   border-radius: 14px;
 }

img{
  width: 40px;
}

a{
  padding-left: 13px;
}

.copyright{
  font-size: 13px;
}
