.cards_header{
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards-base {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border-radius: 14px;
}

.card {
   background: rgba(220, 227, 247, 0.6);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
}

.card > img {
  width: 370px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
}


.cards_login{
  margin-right: 200px;
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: transparent;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border-radius: 14px;
}

.cards_signup{
  margin-right: 200px;
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 14px;
}

.logo {
  padding: 30px;
}

.signup {
  margin-top: auto;
  margin-bottom: auto;
}

.login {
  padding-top: auto;
  padding-bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.border-radius{
  border-radius: 14px;
}
